.wrapper{
    padding-left:30px;
    padding-right:30px;


}

header{
    color:#12b1b1;
}
.container1{
    font-size: 15px;
    color:black;
    border-color: black;
}
form{
    box-sizing: border-box;
    display:inline-block;
    line-height:20px;
     padding-right:14px;
     border-color: #12b1b1;
     font-size:15px;

}
ul{
    color:black;
}
li a{
    color:black;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 max-width:100%;
  position: relative;
  margin: auto;
  height:300px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: 0px;
  padding: 16px;
  margin:30px;
  margin-top: -22px;
  color: white;
  background-color: #12b1b1;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius:50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius:50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
    text-align: center;
   
  cursor: pointer;
  height: 15px;
  width: 15px;
  top:40%;
  margin: 0 2px;
  background-color:#12b1b1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  form.example input[type=text] {
    border-bottom-style: solid;
    float: center;
    justify-content: center;
    border-color:#12b1b1;
    font-size: 17px;
    float: center;
    width: 100%;
    background: #f1f1f1;
    border-radius: 2px;
    line-height: 50px;
    padding:2px;
    margin:8px;

  }
.container{
    border-style:none;
    width:20px;
    height:150px;
    justify-content:center;
    background-origin: padding-box;
    border-color: white;
   padding-top: 30px;
    background-color: #f1f1f1;
   
  
    
} 
.card-deck{
    width:95%;
    list-style: spacing 0.5px;
    justify-content: center;
    position: center;
    float:center;
    margin-left:80px;
    padding:10px;
    padding-left:40px;
}
.card{
    width:95%;
    height:370px;
    width:200px;
    justify-content: center;
    line-height-step:1px;
    line-height:15px;
    position: center;
    margin-right: 150px;
    margin-left: 150px;
}

  
  
  /* Style the button and place it in the middle of the container/image */
  .button {
    position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #12b1b1;
  color: white;
  font-size: 16px;
  padding:10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin:5px;
  font-weight: bolder;
   
  }
  
  
  .container .button:hover {
    background-color: black;
  }
.button1{
    border-radius: 50%;
    width:40px;
    top: 5%;
    left:85%;
} 
.button2{
    background-color: purple;
    position: absolute;
  top: 2%;
  right:5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding:2px;
  border: none;
  cursor: pointer;
 
  margin:5px;
  font-weight: bolder;

}
.card-title{
    position:top left;
    font-size:13px;
    font-weight:bold;
}
label{
    background-color:#12b1b1;
    color: white;
    border-radius: 6px;
    font-size:10px;
    float: top right;
    padding:0px;
    left:120%;
} 
.pill{
   
        background-color:#066969;
        border: none;
        color: white;
        padding: 2px;
        padding-left:10px;
        padding-right:10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        font-size: 10px;
      }
.card-text{
    font-weight: bolder;
    font-size: 15px;
}
.col{
    padding:2px;
}

a{
    color:#12b1b1;
    font:20px;
}
.container4{
    background-color:whitesmoke;
    background-origin: padding-box;
    border-style: none;
    border-radius:2px;
    color:black;
    font-weight: bold;
   
    padding:60px;
    width:90%;
    justify-content: center;
      
    margin:70px;
}
.card-title1{
    font-weight:bold;
    color:rgb(31, 28, 28);
}
p{
    font-weight: normal;
    font-size: 17px;
    color:gray;
}
.btnn{
    background-color:#12b1b1;
    color: white;
    border-style: none;
    border-radius: 4px;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
    
}
  