h4{
    font-weight: bold;
    font-family: monospace;
    padding-top:10px;
}
.container{
    background-image: repeating-linear-gradient(white,#CCFFFF);
    Color:#12b1b1;
    text-align: center;
    padding:40px;
    font-weight:bold;
    width:100%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    color:#12b1b1;
    justify-content: center;
    font-weight:bold;
  }
  
  li {
    float: top right;
  }
  
  li a {
    display: block;
    color:#12b1b1;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    justify-content:center;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:grey;
  }
  .card-deck{
      width:100%;
  }
.btn{
      background-color: orange;
      color:white;
      
    border-style: none;
    border-radius: 12px;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.container1{
    background-color:#12b1b1;
    color:white;
    font-weight: bold;
    text-align: center;
    padding:40px;
    width:100%;
    justify-content: center;
    float:center;
}
.card-deck2{
    border-width:20px;
   height:50px;
}
.button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: center;
  }


      
  
  